/*GENERAL*/
body {
    background-color: #050505;
    color: #39ff14;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr; /*2 partes izq, 1 parte der*/
    gap: 40px; /*Espacio entre columnas*/
    align-items: start; /*Para que ambos bloques empiecen desde arriba*/
}

.resumen{/*Organiza los elemetos de forma que ocupen todo el ancho de la tabla*/
    display:flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*TABLA LOGROS(izquierda)*/
table {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    border-collapse: collapse;
}

th, td {/*Establece un padding, y un borde de color verde, alinea el texto al centro*/
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #39ff14;
}

th {/*Establece el fondo, el tamaño de la fuente y lo pone en mayusculas*/
    background-color: #1a1a1a;
    font-size: 20px;
    text-transform: uppercase;
}

tr:hover {/*Resplandor al pasar el raton*/
    background-color: #113311;
}

.nombre-logro{/*Pone el nombre del logro con la primera en mayuscula*/
    text-transform: uppercase;
}

.titulo-logros, .titulo-historial {/*Establece el titulo de los logros y del historial en mayuscula*/
    text-align: center;
    border-bottom: 2px solid #39ff14;
    margin: 0;
    text-transform: uppercase;
}

/*HISTORIAL(derecha)*/
.historial {/*Historial de partidas a la derecha de la pantalla*/
    grid-column: 2;
    grid-row: 1;
    border-left: 2px dashed #39ff14;
    padding-left: 30px;
}

.partida {/*Estiliza el elemento partida y le pone margen, padding y borde*/
    background-color: #000;
    border: 1px solid #39ff14;
    padding: 15px;
    margin-bottom: 20px;
}

.partida h3 {/*Estilo del titulo h3 del elemento partida*/
    margin-top: 0;
    border-bottom: 1px solid #1a6b0c;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.partida li {/*Estiliza los elementos de la lista de cada partida*/
    list-style-type: none;
    padding: 8px 0;
    border-bottom: 1px dashed #1a6b0c;
}

.partida li:last-child {/*Quita el borde inferior de cada elemento de la lista de partida*/
    border-bottom: none;
}